ansible==2.10.0
ansible-base==2.10.1
awscli==1.18.145
botocore==1.18.4
cffi==1.14.3
colorama==0.4.3
cryptography==3.1.1
docutils==0.15.2
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
packaging==20.4
pyasn1==0.4.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.10
